
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.input_price{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.input_price input{
    border: none;
    border-radius: 25px;
    /*background: rgba(255, 255, 255, .1)*/
    color: #000000;
    background: rgba(170, 170, 170, .1);
    width: 50px;
  }
.search, .search .col-md-11{
    padding-left:0 !important;
}
.search .input{
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    /*background: rgba(255, 255, 255, .1)*/
    color: #4e4c4c;
    font-size: 12px;
    background: rgba(170, 170, 170, .1);
    width: 100%;

}

.search .input:focus, .search .input:hover,.search .input:active
{
    box-shadow: none;
    border: none;
    outline: 0;

}

.button {
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 12px;
    background: #cda9ac;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
}
.button:hover , .button:active {
    background: #ba7e7e;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    color: #FFFFFF;
}

@media (max-width: 500px) {
    .product {
        float:initial !important;

    }

}

#btn_filters{
    cursor:pointer;
    border: none;
    outline: none;
    background-color: transparent!important;
}
#filter{
   /* margin:50px auto;*/
    display: none;
    padding-top:50px;
    padding-bottom:50px;
    background: rgba(170, 170, 170, .1);
    border-radius: 10px;

}
.product {
    float: left;
    background: #fff none repeat scroll 0 0;
    height: 380px;
    width:96% ;
    overflow: hidden;
    padding: 25px 15px;
    text-align: center;
    transition: all 0.5s ease 0s;
    margin-bottom: 20px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(186, 126, 126, .5)

    /* position: relative;
     margin: auto;
     overflow: hidden;
     width: 1000px;
     height: 500px;
     background: #f5f5f5;
    ;
     border-radius: 10px;*/
}

.product:hover{
    box-shadow:5px 5px 15px 10px rgba(186, 126, 126, .5);


}
.product:active{
    box-shadow:5px 5px 15px 10px rgba(186, 126, 126, .5);
    transform: rotateY(180deg);

}
.product_no_float {
    float: initial;
}


.product a,
.product_cooker a,
#pager a{
    text-decoration: none;
    color: #cda9ac;
}

.product_cooker a:hover,
.product a:focus,
.product a:active,
#pager a:hover,
#pager a:focus,
#pager a:active{
    font-weight: 600;
    color: #bc9b9e;
    text-decoration: none;
}
.product a:hover{
    text-decoration: none;
}

.product_image {
    height: 200px;
    overflow: hidden;
    position: relative;
}
.product_image img {

    min-height: 50%;
    max-height: 100%;
    min-width: 50%;
    max-width: 100%;
    object-fit: cover;
}

.product_name {
    color: #000;
    text-transform: uppercase;

}

.product_cooker {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product_price {
    bottom: 15px;
    left: 0;
    width: 100%;
    color: #d51e08;
    font-size: 18px;
    font-weight: 600;
}



.checkbox {
    margin-bottom: 0.2em;
}

.radio {
    margin-bottom: 0.2em;
}

