.card{
    min-height: 200px;
    overflow: hidden;
    background: #f5f5f5;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom:30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product {
    float: left;
    background: #fff none repeat scroll 0 0;
    height: 350px;
    width: 96%;
    overflow: hidden;
    padding: 25px 15px;
    text-align: center;
    transition: all 0.5s ease 0s;
    margin-bottom: 20px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 10px;
}

.product_no_float {
    float: initial;
}

.product:hover{
    box-shadow:5px 5px 15px rgba(186, 126, 126, .5);


}
.product:active{
    box-shadow:5px 5px 15px rgba(186, 126, 126, .5);
    transform: rotateY(180deg);

}
.product_image {
    height: 200px;
    overflow: hidden;
    position: relative;
}
.product_image img {

    min-height: 50%;
    max-height: 100%;
    min-width: 50%;
    max-width: 100%;
    object-fit: cover;
}



.product_name {
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}


.cooker_image{
    overflow: hidden;
}

.cooker_image img{
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    max-height: 300px;
    overflow: hidden;

}
#cooker_comments, #cooker_description{
    display: none;
    min-height: 200px;
    overflow: hidden;
    background: #f5f5f5;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom:30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#cooker_products{
    min-height: 200px;
    overflow: hidden;
    background: #f5f5f5;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom:30px;
    padding-top: 10px;
    padding-bottom: 10px;
}


@media (max-width: 500px) {
    .product {
        float:initial !important;
    }
}

button {
    background: #cda9ac;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 12px;

}
button:hover {
    background: #ba7e7e;
    transition: all 0.4s ease-in-out;
}

a, a:hover, a:active, a:focus{
    text-decoration: none;
    color: #000000
}



.input{
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 10px;
    /*background: rgba(255, 255, 255, .1)*/
    color: #4e4c4c;
    font-size: 12px;
    background: rgba(170, 170, 170, .1);
    width: 100%;

}

.input:focus, .input:hover,.input:active
{
    outline: none;
    box-shadow: none;
    border: none;
    outline: 0;

}

     /* * Pure CSS star rating that works without reversing order * of inputs * ------------------------------------------------------- * NOTE: For the styling to work, there needs to be a radio * input selected by default. There also needs to be a * radio input before the first star, regardless of * whether you offer a 'no rating' or 0 stars option * * This codepen uses FontAwesome icons */
 #stars {
     /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
     /* make hover effect work properly in IE */
     /* hide radio inputs */
     /* set icon padding and size */
     /* set default star color */
     /* set color of none icon when unchecked */
     /* if none icon is checked, make it red */
     /* if any input is checked, make its following siblings grey */
     /* make all stars orange on rating group hover */
     /* make hovered input's following siblings grey on hover */
     /* make none icon grey on rating group hover */
     /* make none icon red on hover */
 }
#stars .rating-group {
    display: inline-flex;
}
#stars .rating__icon {
    pointer-events: none;
}
#stars .rating__input {
    position: absolute !important;
    left: -9999px !important;
}
#stars .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
}
#stars .rating__icon--star {
    color: orange;
}
#stars .rating__icon--none {
    color: #eee;
}
#stars .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
}
#stars .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
}
#stars .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
}
#stars .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
}
#stars .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee;
}
#stars .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
}
