@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Pacifico&display=swap');

.thumbnail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 400px;
    box-sizing: border-box;
    height: 500px;
    background-color: #FFF;
    overflow: hidden;
    cursor: pointer;
    margin-right: -9%;
    margin-left: -9%;
    margin-top: -10%;
}

/*    .thumbnail:before,
    .thumbnail:after {
        content: "";
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #666;
        z-index: 1;
        transition: transform .25s ease-in-out .3s;
    }*/


.thumbnail:hover:before,
.thumbnail:hover:after {
    transition-delay: 0s;
}

.thumbnail:hover:before {
    transform: translateX(-100%);
}

.thumbnail:hover:after {
    transform: translateX(100%);
}

.thumbnail:before {
    left: 0;
}

.thumbnail:after {
    right: 0;
}

.thumbnail__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.thumbnail__title,
.thumbnail__subtitle,
.thumbnail__link {
    color: #FFF;
   /* font-family: arial;*/
    text-align: center;
    line-height: 1.375;
    letter-spacing: 1px;
    overflow: hidden;
    transition: flex-basis .3s ease,
    opacity .3s ease;
}

.thumbnail__title {
    flex: 1 0 100%;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #395620;

}
.thumbnail:hover .thumbnail__title {
    transform: scale(1);
    color: #f6e05e;
}


.thumbnail__subtitle {
    flex: 1 0 0;
    margin-bottom: 20px;
    opacity: 0;
}

.thumbnail__link {
    flex: 1 0 100%;
}
/*   .thumbnail:hover .thumbnail__link{
       content: none;
   }*/

.thumbnail:hover .thumbnail__subtitle {
    flex-basis: 60px;
    opacity: 1;
    transition-delay: 0s, .2s;
}

.thumbnail__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    transition: transform .3s ease .1s;
}

.thumbnail:hover .thumbnail__img {
    transform: scale(1);
}
.thumbnail__subtitle input {
    opacity: 70%;
    border-radius: 5px;
    border:none;
    /*border: 1px orange;*/
    outline: none;
    color: #000000;
}
.thumbnail__subtitle .btn {
    color: rgba(255, 165, 0, 0.7);
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-image: none;
    background-color: transparent;
    padding: 0;
}


h1 {
    font-family: Merriweather, serif;
    margin: 0 0 50px;
    text-align: center;
    cursor: default;
}


.cooker{
    display: none;
    margin-top:3%;
}



h1{

    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-weight: 600;
    color: #c11718;
    text-shadow: 2px 2px #FFFFFF;
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Pacifico', cursive !important;


}
h3{
    text-align: justify;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 50px;
    margin-bottom: 0;

}
h3 a{
    text-decoration: none;
    color: #c11718;

}
h3 a:hover{
    font-weight: 600;
    color: #c11718;
    text-shadow: 2px 2px #FFFFFF ;
}


body{
    background: #eeeeee !important;
}

a {
    color: #2b0726;
    text-decoration: none;
}

a:hover {
    color: #91648b;
    text-decoration: none;
}

a:active {
    color: #2b0726;
    text-decoration: none;
}


*, *:before, *:after {
    box-sizing: border-box !important;
}

.categories{
    position: relative;
    height: 250px ;
    margin-top:30px;
    margin-right:2%;
    margin-left:2%;
}
.categorybox {
    width: 21%;
    height: 250px;
    background: #eee;
    cursor: pointer;
    float: left;
    margin-right:2%;
    margin-left:2%;

}

.categorybox1 {
    background-image: url("/images/categories/carrot.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
}
.categorybox2 {
    background-image: url("/images/categories/shokoladShokolad.jpg");
    background-position: center center;
    background-size: cover;
    perspective: 300px;
    position: relative;
}
.categorybox3 {
    background-image: url("/images/categories/3.jpg");
    background-position: center center;
    background-size: cover;
    perspective: 450px;
    position: relative;
}
.categorybox4 {
    background-image: url("/images/categories/4.jpg");
    background-position: center center;
    background-size: cover;
    perspective: 450px;
    position: relative;
}


.categorybox .categoryName {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    height: 50px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 90%;
    transform: rotatex(90deg);
    transform-origin: bottom center 0;
    transition: all 350ms ease;
    opacity: 0;
}
.categorybox .categoryName h3 {
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
}
.categorybox:hover .categoryName {
    opacity: 1;
    bottom: 15px;
    transform: rotatex(0deg);
}

@media screen and (max-width: 500px), handheld {
    .cooker
    {
        display: block;
    }
    .cooker img
    {
        width: 200px;
    }
    .categorybox,.categories {
        min-height: 50px;
        max-height: 100px;
    }
    .categorybox .categoryName h3 {
        font-size: 10px;
    }
    .thumbnail {
        height: 250px;
    }
}

@media (min-width: 1500px) {
    .cooker
    {
        display: block;
    }
}