
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


body{
    /*background: #e0c9cb;*/

}
.product {

    overflow: hidden;
    background: #f5f5f5;
    box-shadow: 5px 5px 15px rgba(186, 126, 126, .5);
    border-radius: 10px;
    padding-top: 10px;
    min-height: 500px;
}

h1 {
    font-size: 1.2em;
    color: #4e4e4e;
    margin-top: -5px;
}
h2 {
    color: #c3a1a0;
    margin-top: -5px;
}

.product-images {
    height: auto;

}


.mySlides {
    display: none;
    overflow: hidden;
    height: 350px; /*может не не надо*/
}

.mySlides img {

    min-height: 250px;
    max-height: 350px;
    min-width: 250px;
    max-width: 350px;
    margin: 0 20% 0;

}

/*.mySlides img:hover{
    box-shadow: 5px 5px 15px rgba(186, 126, 126, .5);
    position: absolute;
    transform: scale(1.4);
    transition: all 0.4s ease-in-out;

}*/

.line{
    /*  position: absolute;
      width: 100%;
      height: 30%;
      top: 60%;
      bottom: 10%;
      padding: 0;*/
    margin-top: 20px;
    overflow: hidden;
}

.line:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
 /*   height: auto;
    width:20%;
    overflow: hidden;*/
    margin-right: 10px; margin-bottom: 10px;
}

/* Add a transparency effect for thumnbail images */
.demo {

    opacity: 0.6;
    cursor: pointer;
    width: 75px; height: 75px; object-fit: cover;
    /*padding: 10px;*/
    margin: 0;
}

.active,
.demo:hover {
    opacity: 1;
}


.product-information {
    margin-top:40px;
}

/*
button {
    background: #cda9ac;
    display: inline-block;
    outline: 0;
    border: none;
    margin: -1px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 12px


}
button:hover {
    background: #ba7e7e;
    transition: all 0.4s ease-in-out;
}
*/


a, a:hover, a:active, a:hover{
    text-decoration: none;
    color: #000000
}


.input{
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    /*background: rgba(255, 255, 255, .1)*/
    color: #4e4c4c;
    font-size: 12px;
    background: rgba(170, 170, 170, .1);
    width: 100%;

}

.input:focus, .input:hover,.input:active
{
    box-shadow: none;
    border: none;
    outline: 0;
}

/*#options{

    margin-top:20px;
    background: #cda9ac;
    border-radius: 10px;
    padding: 0;
    max-height: 50px;
    z-index: 10;
}

.nav-item{
    outline: 0;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
}

#product_nav a {
    text-decoration: none;
    color: #000000;
    height: 50px;

}

#product_nav a:hover, #product_nav a:focus{

    text-decoration: none;
    background: #ba7e7e;
    transition: all 0.4s ease-in-out;
    height: 50px;

}

#first, #first:hover,#first:focus, #first{

    border-radius: 10px 0 0 10px;
}*/

#tags, #comments, #description{
    /*display: none;*/
    display: block;
    overflow: hidden;
    background: #f5f5f5;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom:30px;
    padding-top: 10px;
    padding-bottom: 30px;
    min-height:100px;
    float: initial;
}

#comments{
    max-height: max-content;
}


/* * Pure CSS star rating that works without reversing order * of inputs * ------------------------------------------------------- * NOTE: For the styling to work, there needs to be a radio * input selected by default. There also needs to be a * radio input before the first star, regardless of * whether you offer a 'no rating' or 0 stars option * * This codepen uses FontAwesome icons */
#stars {
    /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-popup__text on a single line */
    /* make hover effect work properly in IE */
    /* hide radio inputs */
    /* set icon padding and size */
    /* set default star color */
    /* set color of none icon when unchecked */
    /* if none icon is checked, make it red */
    /* if any input is checked, make its following siblings grey */
    /* make all stars orange on rating popup__text hover */
    /* make hovered input's following siblings grey on hover */
    /* make none icon grey on rating popup__text hover */
    /* make none icon red on hover */
}
#stars .rating-popup__text {
    display: inline-flex;
}
#stars .rating__icon {
    pointer-events: none;
}
#stars .rating__input {
    position: absolute !important;
    left: -9999px !important;
}
#stars .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
}
#stars .rating__icon--star {
    color: orange;
}
#stars .rating__icon--none {
    color: #eee;
}
#stars .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
}
#stars .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
}
#stars .rating-popup__text:hover .rating__label .rating__icon--star {
    color: orange;
}
#stars .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
}
#stars .rating-popup__text:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee;
}
#stars .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
}


.popup {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .80);
    z-index: 12;
    transition: 0.64s ease-in-out;


}
.popup-inner {
    position: absolute;
    top:10%;
    bottom:10%;
    right: 30%;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 80%;
    background-color: #fff;
    transition: 0.64s ease-in-out;
    transform: rotate(32deg);
}


.popup__text {

    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4rem;
}
.popup__text h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #0a0a0a;
    text-align: center;
}
.popup__text p {
    font-size: 0.875rem;
    color: #686868;
    line-height: 1.5;
}

.popup__text .label{
    color: #aaa;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.popup:target {
    display: block;
    visibility: visible;
    opacity: 1;
}
.popup:target .popup-inner {

    visibility: visible;
    opacity: 1;
    transform: rotate(0);

}

.popup__close{
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 0.875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #0a0a0a;
    z-index: 14;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

/*
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .80);
    z-index: 12;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: 0.64s ease-in-out;
}
.popup-inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 800px;
    max-height: 600px;
    width: 40%;
    height: 80%;
    background-color: #fff;
    transform: rotate(32deg);
    transition: 0.64s ease-in-out;
}
.popup__photo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.popup__photo img {
    width: auto;
    height: 100%;
}
.popup__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 4rem;
}
.popup__text h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #0a0a0a;
}
.popup__text p {
    font-size: 0.875rem;
    color: #686868;
    line-height: 1.5;
}
.popup:target {
    visibility: visible;
    opacity: 1;
}
.popup:target .popup-inner {
    bottom: 0;
    right: 0;
    transform: rotate(0);
}
.popup__close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 0.875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #0a0a0a;
    z-index: 14;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.popup__text .label{
    color: #aaa;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 2px;
 }
*/

/*@media screen and (max-width: 780px){
    .mySlides img {

        min-height: 50px;
        max-height: 100px;
        min-width: 50px;
        max-width: 100px;
        margin: 0 20% 0;

    }
    .demo {
        min-width: 30px;
        max-width: 60px;
    }
    #options{
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    #tags, #comments, #description{
        display: block;
        overflow: hidden;
        background: #f5f5f5;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom:30px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height:100px;
        float: initial;
    }
    .popup__text .label{
        color: #aaa;
        font-size: 8px;
        text-transform: uppercase;
    }
    .popup__text .input{
        border: none;
        padding: 2px;
        font-size: 8px;

    }
    .popup__img{
        display: none;
    }
    .popup__text {
        width: 100%;
    }
    .popup__text h1{
        font-size: 1rem;

    }
    .popup__text .custom_button{
        padding: 2px;
        font-size: 8px
    }
    .popup__text #descrip{
        height: 20px;
    }

}*/



@media (max-width: 780px){
/*
    #options{
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    #tags, #comments, #description{
        display: block;
        overflow: hidden;
        background: #f5f5f5;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom:30px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height:100px;
        float: initial;
    }*/
    .popup__text .label{
        color: #aaa;
        font-size: 8px;
        text-transform: uppercase;
    }
    .popup__text .input{
        border: none;
        padding: 2px;
        font-size: 8px;

    }
    .popup__img{
        display: none;
    }
    .popup__text {
        width: 100%;
    }
    .popup__text h1{
        font-size: 1rem;

    }
    .popup__text .custom_button{
        padding: 2px;
        font-size: 8px
    }
    .popup__text #descrip{
        height: 20px;
    }

}

@media (min-width: 401px) and (max-width: 780px){
    .mySlides {

        height: 350px; /*может не не надо*/
    }
    .mySlides img {

        min-height: 250px;
        max-height: 350px;
        min-width: 250px;
        max-width: 350px;
        margin: 0 10% 0;

    }
    .demo {

        width: 60px; height: 60px; object-fit: cover;
    }
}

@media (max-width: 400px){

    .mySlides {

        height: 200px; /*может не не надо*/
    }
    .mySlides img {

        min-height: 100px;
        max-height: 200px;
        min-width: 100px;
        max-width: 200px;
        margin: 0 10% 0;

    }
    .demo {
        width: 60px; height: 60px; object-fit: cover;
    }
}
@media (max-height: 800px){

    /*    #options{
            display: none;
            visibility: hidden;
            opacity: 0;
        }

        #tags, #comments, #description{
            display: block;
            overflow: hidden;
            background: #f5f5f5;
            border-radius: 10px;
            margin-top: 10px;
            margin-bottom:30px;
            padding-top: 10px;
            padding-bottom: 10px;
            min-height:100px;
            float: initial;
        }*/

    .popup-inner{
        top:10%;
        bottom:10%;
        height: 80%;
    }
}


@media (max-height: 500px){

    .popup-inner{
        top:5%;
        bottom:5%;
        right: 20%;
        height: 90%;
        width: 60%;
    }
}
@media (max-height: 500px) and (min-width: 900px){

    .popup__text .custom_button{
        padding: 10px 10px;
        font-size: 10px
    }
    .popup__text h1 {
        font-size: 1rem;
    }

    .popup__text .label{
        font-size: 10px;
        margin-bottom: 2px;
    }
    .popup-inner{
        top:10%;
        bottom:10%;
        right: 20%;
        height: 80%;
        width: 60%;
    }
}
@media (min-height: 1000px){

    .mySlides {
        display: none;
        overflow: hidden;
        height: 250px; /*может не не надо*/
    }
    .mySlides img {

        min-height: 150px;
        max-height: 250px;
        min-width: 150px;
        max-width: 250px;
        margin: 0 20% 0;

    }
    .demo {
        width: 45px; height: 45px; object-fit: cover;
    }
   /* #options{
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    #tags, #comments, #description{
        display: block;
        overflow: hidden;
        background: #f5f5f5;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom:30px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height:100px;
        float: initial;
    }
*/
    .popup-inner{
        top:20%;
        bottom:20%;
    /*    right: 20%;
        left: 20%;
        width: 60%;*/
        height: 40%;
    }


}
