body {
    margin: 0;
    background-image: url("/images/categories/5(1).jpg");
/*    background-size: cover;
    background-repeat: no-repeat;*/
    /*  color: #6a6f8c;
      background : #c8c8c8;
      font: 600 16px/18px 'Open Sans', sans-serif*/
}

.sign-up-box {
    width: 100%;
    margin: auto;
    /*max-width: 525px;
    min-height: 800px;
    max-height: 1000px;*/
    position: relative;
    height: 1050px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}

.sign-up-ship {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    /* background: rgba(255, 252, 249, 0.59)*/
    background: rgba(78, 76, 76, 0.64)
}

.sign-up-ship .sign-up,
.sign-up-ship .sign-up-cooker-form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .4s linear
}

.sign-up-ship .sign-up-user,
.sign-up-ship .sign-up-cooker,
.sign-up-space .group .check {
    display: none
}

.sign-up-ship .tab,
.sign-up-space .group .label,
.sign-up-space .group .button {
    text-transform: uppercase
}

.sign-up-ship .tab {
    /*font-size: 22px;*/
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
    cursor: pointer;

}

.sign-up-ship .sign-up-user:checked+.tab,
.sign-up-ship .sign-up-cooker:checked+.tab {
    color: #fff;
    border-color: #f6e2a3
}

.sign-up-space {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d
}

.sign-up-space .group {
    margin-bottom: 15px
}

.sign-up-space .group .label,
.sign-up-space .group .input,
.sign-up-space .group .button {
    width: 100%;
    color: #fff;
    display: block
}

.sign-up-space .group .input,
.sign-up-space .group .button {
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1)
}

/*
.sign-up-space .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle
}
*/

.sign-up-space .group .label {
    color: #aaa;
    font-size: 12px
}

.sign-up-space .group .button {
    background: #f6e2a3
}

.sign-up-space .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1)
}

.sign-up-space .group label .icon:before,
.sign-up-space .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s
}

.sign-up-space .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0)
}

.sign-up-space .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0)
}

.sign-up-space .group .check:checked+label {
    color: #fff

}

.sign-up-space .group .check:checked+label .icon {
    background: #f6e2a3
}

.sign-up-space .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg)
}

.sign-up-space .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg)
}

.sign-up-ship .sign-up-user:checked+.tab+.sign-up-cooker+.tab+.sign-up-space .sign-up {
    transform: rotate(0)
}

.sign-up-ship .sign-up-cooker:checked+.tab+.sign-up-space .sign-up-cooker-form {
    transform: rotate(0)
}

*,
:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2)
}

.foot {
    text-align: center
}
/*
.card {
    width: 700px;
    !*left: 100px*!
    height: 1000px;
}*/

::placeholder {
    color: #b3b3b3
}
.container{
    height: auto;
}

.help-block {
    color: #ff91a0 !important;
}