@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.cooker {
    float: left;
    background: #fff none repeat scroll 0 0;
    height: 350px;
    width: 96%;
    overflow: hidden;
    padding: 25px 15px;
    text-align: center;
    transition: all 0.5s ease 0s;
    margin-bottom: 20px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(186, 126, 126, .5)


    /* position: relative;
     margin: auto;
     overflow: hidden;
     width: 1000px;
     height: 500px;
     background: #f5f5f5;
     box-shadow: 5px 5px 15px rgba(186, 126, 126, .5);
     border-radius: 10px;*/
}

.cooker:hover{
    box-shadow:5px 5px 15px rgba(186, 126, 126, .5);


}
.cooker:active{
    box-shadow:5px 5px 15px rgba(186, 126, 126, .5);
    transform: rotateY(180deg);

}
.cooker_no_float {
    float: initial;
}

.sellers a,
#pager a{
    text-decoration: none;
    color: #cda9ac;
}

.sellers a:focus,
.sellers a:hover,
.sellers a:active,
#pager a:hover,
#pager a:focus,
#pager a:active{
    font-weight: 600;
    color: #bc9b9e;
    text-decoration: none;
}

.cooker_image {
    height: 200px;
    overflow: hidden;
    position: relative;

}

.cooker_image img {

    min-height: 50%;
    max-height: 100%;
    min-width: 50%;
    max-width: 100%;
    object-fit: cover;
}

.cooker_name, .cooker_sity {
    /*color: #000;*/
    font-weight: 500;
    text-transform: uppercase;
    overflow: hidden;
    color: #ba7e7e;
    letter-spacing: 1px;
}

/*.search .input,
.search .button {
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 12px

}
.search .input{
    background: rgba(170, 170, 170, .1);
    width: 100%;
}*/



.search, .search .col-md-11{
    padding-left:0 !important;
}
.search .input{
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    /*background: rgba(255, 255, 255, .1)*/
    color: #4e4c4c;
    font-size: 12px;
    background: rgba(170, 170, 170, .1);
    width: 100%;

}

.search .input:focus, .search .input:hover,.search .input:active
{
    box-shadow: none;
    border: none;
    outline: 0;

}


.button {
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 12px;
    background: #cda9ac;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
.button:hover {
    background: #ba7e7e;
    transition: all 0.4s ease-in-out;
}

@media (max-width: 500px) {
    .cooker {
        float:initial !important;

    }
}