html,
body {
    height: 100%;
    margin: 0;
    /* background-image: url("/images/categories/5(2)o.jpg");*/
    font-family: 'Lato', sans-serif, sans-serif !important;

}


.navbar-fixed-top   {
    background-color: transparent;
}



.navbar-fixed-top a {
    /*color: #7d7d7d;*/
    color:#000000;
    text-decoration: none;
    font-family: 'Lato', sans-serif, sans-serif;
    text-transform: uppercase;
}

.navbar-fixed-top a:hover, .navbar-fixed-top a:focus, .navbar-fixed-top a:active {

    color:#000000;
    text-decoration: none;
    background-color: transparent !important;
    transform: scale(1.5);
    font-family: 'Lato', sans-serif, sans-serif;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
}

.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active{

    transform: scale(1)!important;
}

.navbar-fixed-top li a form button{
    padding: 0;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 10px;

}


.footer p {
    letter-spacing: 3px;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    .navbar-fixed-top{
        background-color:#eeeeee !important;
    }
/*    .navbar-header{
        background-color:transparent!important;
    }*/
    .icon-bar{
        background-color: #000000;
    }

  /*  #w0-collapse{
        background-color:#eeeeee;
    }*/

    #w0-collapse li a,#w0-collapse li  a:active, #w0-collapse li a:focus, #w0-collapse li a:hover {
        /*color: #7d7d7d;*/
        color:#000000;
        text-decoration: none;
       /* background-color: #FFFFFF !important;*/
        font-family: 'Lato', sans-serif, sans-serif;
        text-transform: uppercase;
        transform: scale(1) !important;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.custom_button {
    background: #cda9ac;
    display: inline-block;
    outline: 0;
    border: none;

    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 12px


}
.custom_button:hover, .custom_button:active, .custom_button:focus {
    background: #ba7e7e;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    color: #000000;
}


/* для элемента input c type="checkbox" */
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #cda9ac;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox>input:not(:disabled):active+span::before {
    background-color: #cda9ac;
    border-color: #cda9ac;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(205, 169, 172, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #bc9b9e;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span::before {
    border-color: #ba7e7e;
    background-color: #ba7e7e;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
}

/* для элемента input c type="radio" */
.custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #cda9ac;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio>input:not(:disabled):active+span::before {
    background-color: #cda9ac;
    border-color: #cda9ac;
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(205, 169, 172, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio>input:focus:not(:checked)+span::before {
    border-color: #cda9ac;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio>input:checked+span::before {
    border-color: #ba7e7e;
    background-color: #ba7e7e;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio>input:disabled+span::before {
    background-color: #e9ecef;
}


@media(max-width:767px), handheld {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    .navbar-fixed-top{
        background-color:#eeeeee;
    }
    /*    .navbar-header{
            background-color:transparent!important;
        }*/
    .icon-bar{
        background-color: #000000;
    }

    /*  #w0-collapse{
          background-color:#eeeeee;
      }*/

    #w0-collapse li a,#w0-collapse li  a:active, #w0-collapse li a:focus {
        /*color: #7d7d7d;*/
        color:#000000;
        text-decoration: none;
        /* background-color: #FFFFFF !important;*/
        font-family: 'Lato', sans-serif, sans-serif;
        text-transform: uppercase;
        transform: scale(1);
    }

    #w0-collapse li a:hover {

        color:#000000;
        text-decoration: none;
        /*background-color: #FFFFFF !important;*/
        font-family: 'Lato', sans-serif, sans-serif;
        text-transform: uppercase;
        transform: scale(1);

    }
}
