
body {
    margin: 0;
    background-image: url("/images/categories/5(1).jpg");
    /*  color: #6a6f8c;
      background : #c8c8c8;
      font: 600 16px/18px 'Open Sans', sans-serif*/
}

.task-box {

    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    margin: auto;
}

.task-snip {
   /* width: 100%;
    height: 100%;
    position: absolute;*/
    padding: 90px 70px 50px 70px;
    /* background: rgba(255, 252, 249, 0.59)*/
    background: rgba(78, 76, 76, 0.64)
}


.task-snip .tab,
.task-space .group .label,
.task-space .group .button {
    text-transform: uppercase
}

.task-snip .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    color: #fff;
    border-bottom: 2px solid;
    border-color: #f6e2a3
}

.task-space .group {
    margin-bottom: 15px
}

.task-space .group .label,
.task-space .group .input,
.task-space .group .button {
    width: 100%;
    color: #fff;
    display: block
}

.task-space .group .input,
.task-space .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1)
}


.task-space .group .label {
    color: #aaa;
    font-size: 12px
}

.task-space .group .button {
    background: #f6e2a3
}


*,
:after,
:before {
    box-sizing: border-box
}

a {
    color: inherit;
    text-decoration: none
}

::placeholder {
    color: #b3b3b3
}
.help-block-error {
    color: #ff91a0 !important;
}